<div class="container">

    <p style="text-align: center;">Inicio de sesión</p>
   <div class="col-md-12 text-center" style="margin-bottom: 10px;">
    <button id="google" (click)="login()" class="btn btn-primary"><i class="fab fa-google"></i>
      Inicio de sesión Google
    </button>
  </div>

    <div class="col-md-12 text-center" style="margin-bottom: 50px;">
      <button type ="button" (click)="authService.FacebookAuth()" class="btn btn-primary"><i class="fab fa-facebook-f"></i>
        Inicio de sesión Facebook
      </button>

    </div>

    <p style="text-align: center;">Inicio de sesión</p>
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
      <h1 *ngIf="authService && authService.userData | async">Hello {{ (authService.userData | async)?.email }}</h1>
      <div *ngIf="!(authService.userData | async)">
      <div class="form-group">
      <label for="email">Email address:</label>
      <input type="text" class="form-control" [(ngModel)]="email" placeholder="email">
      </div>
      <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="password" id="pwd" placeholder="password">
      </div>
      <button (click)="signUp()" class="btn btn-default">Sign Up</button>
      <button (click)="signIn()" class="btn btn-default" style="margin-left:5px;">Login</button>
       
      </div>
      <button (click)="signOut()" class="btn btn-primary" *ngIf="authService.userData | async">Logout</button>
      </div>
</div>
  