

#google{
  margin-top: 50px;
  background-color: #ea4335;
  border: 0;
  padding: 6px 21px;
  width: 250px;

}

#fb{
  margin-top: 10px;
  background-color: #1775e8;
  border: 0;
  width: 250px;
}

#twitter{
  margin-top: 10px;
  background-color: rgb(100,200,255);
  border: 0;
  margin-bottom: 50px;
  width: 250px;

}
