<section class="foot">
                <img src="assets/imagenes/logo-joyeriafernandez.png" class="logojoyeriafoot" alt="joyeriafernandez">
                <div class="politicsypreguntas">
                    <a href="#" class="politics">Políticas de Privacidad</a>
                    <a href="#" class="preguntas">Preguntas Frecuentes</a>
                </div>
                <div class="Contactoymedia">
                    <p class="contacto">Contacto</p>
                    <hr class="divisorfoot">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="ubi">Av. Nueva Costanera 3972. Vitacura,</p>
                                <p class="ubi">Santiago - Chile</p>
                                <p class="ubi">Telefono: 0222065916</p>
                                <p class="ubi">/contacto@joyeriafernandez.cl</p>
                            </div>
                        <div class="col-md-6">
                            <a href="#">
                                <img src="assets/imagenes/instagram.png" alt="instagram" id="insta">
                            </a>
                            <a href="#">
                                <img src="assets/imagenes/facebook.png" alt="facebook" id="facebook">
                            </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
